<nav>
  <ul>
    <li><a href="{{site.baseurl}}/">Type scale</a></li>
    <li><a href="{{site.baseurl}}/example-1">Example 1</a></li>
    <li><a href="{{site.baseurl}}/example-2">Example 2</a></li>
    <li><a href="{{site.baseurl}}/example-3">Example 3</a></li>
  </ul>
</nav>

<hr>