// Universal styles

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
}

body {
  background-color: $white;
  color: $gray-800;
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	font-family: $font-sans-serif;
	line-height: 1.5;
	min-height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

// Fluid images by default
img {
	display: block;
	height: auto !important;
	width: 100% \9; // Force IE10 and below to size SVG images correctly
	max-width: 100%;
}
