// Tables

// Concept table design

.concept {

  .table-responsive {

    @include breakpoint($max: $bp-md) {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  }

  table {
    border-collapse: collapse;
    font-size: 0.875rem;
    width: 100%;
    max-width: 100%;

    @include breakpoint(md) {
      table-layout: fixed;
    }
    
    tr {
      border-top: 1px solid $gray-100;
      
      
      &:nth-child(even) {
        background-color: $gray-10;
      }
      
      &:last-child {
        border-bottom: 1px solid $gray-100;
      }
    }
    
    th,
    td {
      padding: 1em;
    }
    
    th {
      background-color: $gray-50;
      color: $gray-900;
      line-height: 1.25;
      text-align: left;
    }

    td {
      vertical-align: top;
    }
  }
}

  // Documentation Markdown

.gl-markdown {

  .table-responsive {

    @include breakpoint($max: $bp-md) {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  }

  table {
    border-collapse: collapse;
    color: $gray-500;
    font-size: 0.875rem;
    width: 100%;
    max-width: 100%;

    @include breakpoint(md) {
      table-layout: fixed;
    }
    
    tr {
      border-bottom: 1px solid $gray-100;
    }
    
    th,
    td {
      padding: 1em;
    }
    
    th {
      border-bottom: 1px solid $gray-200;
      line-height: 1.25;
      text-align: left;
    }

    td {
      vertical-align: top;
    }
  }
}
