// ################################
// Variables that I think are set as part of gitlab-ui
// But we need here to make it work
// ################################

$breakpoint-md: 768px;
$breakpoint-xl: 1200px;
$base-font-size: 16; // equal to 1rem 

// ################################
// Load typefaces
// ################################

// Typeface: GitLab Sans

/* -------------------------------------------------------
GitLab Sans variable font.

Usage:
  html { font-family: 'GitLab Sans', sans-serif; }
*/
@font-face {
  font-family: 'GitLab Sans';
  font-weight: 100 900;
  /**
   * Applications should use a less aggressive font-display value than this.
   * This is done to make sure Storybook Previews load the font.
   */
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  /* stylelint-disable property-no-unknown */
  src: url('../fonts/GitLabSans.woff2') format('woff2');
}

/* -------------------------------------------------------
Monospaced font: JetBrains Mono.

Usage:
  html { font-family: 'JetBrains Mono', sans-serif; }
*/
@font-face {
  font-family: 'JetBrains Mono';
  /**
   * Applications should use a less aggressive font-display value than this.
   * This is done to make sure Storybook Previews load the font.
   */
  font-display: block;
  font-style: normal;
  src: url('../fonts/JetBrainsMono.woff2') format('woff2');
}

// ################################
// Some maths to calculate the dynamic sizes
// ################################

//// pixels to rem
//// https://css-tricks.com/snippets/sass/px-to-em-functions/

@function rem($pixels, $context: $base-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@function clamp-between($min, $max, $min-width: $breakpoint-md, $max-width: $breakpoint-xl) {

  $slope: ($max - $min) / ($max-width - $min-width);
  $intersection: (-$min-width * $slope)+$min;

  // Use calc() inside of clamp() function to work around SassC
  // compilation failure.
  // See https://gitlab.com/gitlab-org/gitlab-ui/-/merge_requests/2972
  @return clamp(#{rem($min)}, calc(#{$intersection} + #{$slope * 100vw}), #{rem($max)});
}

// ################################
// Define the new text size scale
// Deliberately does not include line-height, weight, or other
// Q: Should this include letter spacing tho? I'm not sure they are seperable
// ################################

// Dynamic sizes use clamp to scale between md to xl breakpoints
// This is the default scale used in the product

$size-text-dynamic-100: rem(12px);
$size-text-dynamic-200: rem(13px);
$size-text-dynamic-300: rem(14px);
$size-text-dynamic-400: rem(16px);
$size-text-dynamic-500: #{clamp-between(18px, 20px)};
$size-text-dynamic-600: #{clamp-between(21px, 25px)};
$size-text-dynamic-700: #{clamp-between(24px, 30px)};
$size-text-dynamic-800: #{clamp-between(28px, 36px)};

// Fixed scale is used only for compact markdown

$size-text-fixed-100: rem(12px);
$size-text-fixed-200: rem(13px);
$size-text-fixed-300: rem(14px);
$size-text-fixed-400: rem(16px);
$size-text-fixed-500: rem(18px);
$size-text-fixed-600: rem(21px);
$size-text-fixed-700: rem(24px);
$size-text-fixed-800: rem(28px);


// ################################
// Define the styles for headings
// ################################

h6,
h5,
h4,
h3,
h2,
h1 {
  color: #303030;
  font-weight: 600;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased; // Reference https://www.joshwcomeau.com/css/custom-css-reset/#five-font-smoothing-6
}

// Set reduced letter spacing for h1–3 

h4,
h3,
h2,
h1 {
  letter-spacing: -0.01em;
}

// Set sizes for headings

h6 {
  font-size: $size-text-dynamic-200;
}

h5 {
  font-size: $size-text-dynamic-300;
}

h4 {
  font-size: $size-text-dynamic-400;
}

h3 {
  font-size: $size-text-dynamic-500;
}

h2 {
  font-size: $size-text-dynamic-600;
}

h1 {
  font-size: $size-text-dynamic-700;
}

.h-display {
  font-size: $size-text-dynamic-800;
}

// Set sizes for compact text

.compact-markdown {

  h6 {
    font-size: $size-text-fixed-200;
  }
  
  h5 {
    font-size: $size-text-fixed-300;
  }
  
  h4 {
    font-size: $size-text-fixed-400;
  }
  
  h3 {
    font-size: $size-text-fixed-500;
  }
  
  h2 {
    font-size: $size-text-fixed-600;
  }
  
  h1 {
    font-size: $size-text-fixed-700;
  }
  
  .h-display {
    font-size: $size-text-fixed-800;
  }

  p,
  li {
    font-size: $size-text-fixed-300;
    max-width: 80ch; // just to make this demo easier to assess
  }

}

// set sizes for body

p,
li {
  font-size: $size-text-dynamic-300;
  max-width: 80ch; // just to make this demo easier to assess
}

// ################################
// Helpers and other styles for the page
// ################################

html {
  font-size: 1rem;
}

body {
  line-height: 1.4;
  padding: 0 1rem;
}
body {
  font-family: 'GitLab Sans', sans-serif;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0 0 1rem 0;
}

[data-font-size]::after {
  background: #ececef;
  border-radius: 0.25em;
  color: #626168;
  content: attr(data-type) ", " attr(data-font-size);
  font-size: 0.875em;
  font-weight: 400;
  margin-left: 0.5em;
  padding: 0.125em;
}

.inputs {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

[data-base-font-size-container] {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

.input-item {
  margin-bottom: .5rem;
}

.input-item input {
  padding: .5rem .75rem;
  border: 1px solid #999;
  border-radius: .25rem;
}

label {
  font-size: .875rem;
  display: inline-block;
  width: 150px;
}

pre {
  display: inline-block;
  padding: 1rem;
  background: #f5f5f5;
}

b,
strong {
  font-weight: var(--gl-font-weight-bold) !important;
}