<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ "/assets/css/style.css"  | prepend: site.baseurl }}">
	</head>
	<body class="site-wrap concept">
		{% include header.html %}
		<main id="content" class="main">
			{{ content }}
		</main>
	</body>

	<script>
		function displayFontSizes() {
				document.querySelectorAll('[data-base-font-size-container] > *').forEach(item => {
					const fontSize = Math.round(parseFloat(window.getComputedStyle(item, null).getPropertyValue('font-size')));
					item.setAttribute('data-font-size', `${fontSize / 16}rem (${fontSize}px)`);
				});
			}

			displayFontSizes();

			const target = document.head;
			const observer = new MutationObserver(displayFontSizes);
			const config = { characterData: true, attributes: true, childList: true, subtree: true };

			observer.observe(target, config);

			window.onresize = () => {
				displayFontSizes();
			};
	</script>
</html>
